<!--
<div class = "contents row" >
  <% @posts.each do |post| %>
    <div class = "content_post" >
      <p><%= post.book %></p>
      <p><%= post.title %></p>
      <p><%= post.description %></p>
    </div>
  <% end %>
</div>
-->


<!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ここからはサンプルからの引用↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Encounter</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
<div class="wrapper">
  <div class="box">
    <div class="row row-offcanvas row-offcanvas-left">
      <!-- main right col -->
        <div class="column col-sm-12 col-xs-12" id="main">
          <div class="padding">
            <div class="full col-sm-9">
              <!-- content -->
              <div class="row">
                <div class="col-sm-3">
                </div>

                <!-- main col middle タイムライン-->
                <div class="col-sm-6">
                  <!--投稿-->
                  <% @posts.each do |post| %>
                    <!--投稿の1単位-->
                    <div class="panel panel-default">
                      <div class = "panel-body" >
                        <!--自分が投稿したポストのみ削除できる-->
                        <% if user_signed_in? && post.user_id %>
                          <div class="more">
                            <span><%= image_tag 'arrow_top.png' %></span>
                            <ul class="more_list">
                              <li>
                                <%= link_to '削除', "/#{post.id}", method: :delete %>
                              </li>
                            </ul>
                          </div>
                        <% end %>
                        <!--投稿の内容-->
                        <div class="panel-thumbnail"><img src="assets/sample.jpg" class="img-responsive"></div>
                        <p class="lead"><%= post.book %></p>
                        <p><%= post.title %></p>
                        <p><%= post.description %></p>
                      </div>
                      <!--いいね-->
                      <p>45 Followers, 13 Posts</p>
                      <!--投稿ユーザーの名前、プロフィール写真など-->
                      <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
                      </p>
                    </div>
                  <% end %>
                </div>

                <!-- main col right -->
                <div class="col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel panel-heading">
                      ランキング
                    </div>
                    <div class="panel panel-body">
                    </div>
                  </div>
                </div>
            </div>
          </div>

            <!--/row-->
          <div class="column col-sm-12 col-xs-12" id="footer">
            <div class="row">
              <div class="col-sm-6">
                <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
              </div>
            </div>

            <div class="row" id="footer">
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6">
                <p>
                <a href="#" class="pull-right">©Copyright 2013</a>
                </p>
              </div>
            </div>

            <hr>
              <h4 class="text-center">
            <hr>
          </div><!-- /col-9 -->
          </div><!-- /padding -->
        </div>
        <!-- /main -->
        </div>
    </div>
</div>


<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      Update Status
      </div>
      <div class="modal-body">
          <form class="form center-block">
            <div class="form-group">
              <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div>
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
            <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
      </div>
      </div>
  </div>
  </div>
</div>
  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
